@model ProductList.Models.Product

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>
<p>
    @Html.ActionLink("View Product List", "Products")
</p>
<p>
@Html.ActionLink("Add New Product", "Create")
</p>


